        <script src="/js/app.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>
        <script src="js/angular-chart.min.js"></script>
    </body>
</html>