<% include ../partials/header %>

<div ng-controller="HelloController">
    <h1 style="background: #030520; margin-top: 0; margin-bottom: 0; height: 60px; padding: 10px;">
        <span style="color: green;">Version1</span> 
        <span style="color: white;">Hot-Desk</span>
    </h1>
    <div class="row">
        <div class="col-md-3">
            <div class="row" style="margin-left: 10px;">
                <div style="padding-left: 10px;">
                    <h2>In The Office</h2>
                </div>
                <div ng-repeat="staff in office">
                    <p ng-if="staff.in == true" style="font-weight: bold; color: green; padding-left: 10px;">{{staff.Name}}</p>
                </div>
            </div>
            <div class="row" style="margin-left: 10px;">
                <div style="padding-left: 10px;">
                    <h2>Out Of Office</h2>
                </div>
                <div ng-repeat="staff in office">
                    <p ng-if="staff.in == false" style="font-weight: bold; color: red; padding-left: 10px;">{{staff.Name}}</p>
                </div>
            </div>
        </div>
<div class="row">      
        <!--<div class="row" ng-repeat="desk in tables">
            <div class="col-md-6" ng-if="desk.booked == true">
                    <img ng-src="/images/deskbooked.png" >
                <label>{{desk.name}} booked by <span style="color:green">{{desk.bookedby}}<span></label>
            </div>
            <div class="col-md-6" ng-if="desk.booked == false">
                    <img ng-src="/images/deskfree.png" >
                    <label>{{desk.name}}</label>                            
            </div>
        </div>-->
        <svg width="570" height="1094" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
        <g>
        <title>background</title>
        <rect fill="#fff" id="canvas_background" height="1096" width="572" y="-1" x="-1"/>
        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
        <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
        </g>
        </g>
        <g>
        <title>Layer 1</title>
        <rect id="svg_10" height="2" width="10" y="190" x="463.5" stroke-width="1.5" stroke="#000" fill="#fff"/>
        <rect id="svg_8" height="115" width="90" y="155" x="348.5" stroke-width="1.5" stroke="#000" fill="#ff0000"/>
        
        <rect stroke="#000" id="svg_12" height="90" width="115" y="25" x="256.5" stroke-width="1.5" fill="#ff0000"/>
        <rect id="svg_13" height="115" width="90" y="159" x="8.5" stroke-width="1.5" stroke="#000000" fill="#fc1900"/>
        <rect stroke="#000" id="svg_14" height="115" width="90" y="156" x="453.5" stroke-width="1.5" fill="#ff0000"/>
        <rect stroke="#020a01" id="svg_16" height="90" width="115" y="312" x="10.5" stroke-width="1.5" fill="#ff0000"/>
        <rect stroke="#000" id="svg_17" height="90" width="115" y="416" x="10.5" stroke-width="1.5" fill="#ff0000"/>
        <rect stroke="#000" id="svg_18" height="90" width="115" y="521" x="10.5" stroke-width="1.5" fill="#ff0000"/>
        <rect stroke="#000" id="svg_19" height="90" width="115" y="624" x="12.5" stroke-width="1.5" fill="#ff0000"/>
        <rect stroke="#000" id="svg_20" height="90" width="115" y="307" x="401.5" stroke-width="1.5" fill="#ff0000"/>
        <rect stroke="#000" id="svg_21" height="90" width="115" y="418" x="402.5" stroke-width="1.5" fill="#ff0000"/>
        <rect stroke="#000" id="svg_22" height="90" width="115" y="525" x="404.5" stroke-width="1.5" fill="#ff0000"/>
        <path id="svg_23" d="m5.5,798c0,0 791,3 790.5,3" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#fff"/>
        <ellipse stroke="#000" ry="43.5" rx="86" id="svg_24" cy="936.5" cx="112.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#fff"/>
        <path id="svg_26" d="m403.5,801" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#fff"/>
        <rect id="svg_28" height="115" width="90" y="816" x="450.5" stroke-width="1.5" stroke="#000" fill="#ff0000"/>
        <rect id="svg_29" height="115" width="90" y="948" x="452.5" stroke-width="1.5" stroke="#000" fill="#ff0000"/>
        <rect id="svg_30" height="115" width="90" y="895" x="293.5" stroke-width="1.5" stroke="#000" fill="#ff0000"/>
        <path id="svg_32" d="m256.5,800c0,0 -1,302 -1.5,302" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#fff"/>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_34" y="76" x="276.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 1</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_35" y="214" x="352.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 2</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_36" y="215" x="461.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 3</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_37" y="358" x="419.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 4</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_38" y="468" x="420.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 5</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_39" y="579" x="420.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 6</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_40" y="882" x="455.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 7</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_41" y="1009" x="458.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 8</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_42" y="956" x="299.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 9</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_43" y="668" x="16.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#fff" fill="#000000">Table 10</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_44" y="567" x="24.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 11</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_46" y="467" x="19.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Table 12</text>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_47" y="362" x="21.5" stroke-width="0" stroke="#020a01" fill="#000000">Table 13</text>
        <text style="cursor: move;" transform="rotate(-66.80379486083984 56.203124999999964,215.49999999999997) " stroke="#020a01" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_48" y="224" x="7.5" stroke-width="0" fill="#000000">Table 14</text>
        </g>
        </svg>
        </div>
    </div>
</div>
    
<% include ../partials/footer %>