<% include ../../partials/header %>

<div ng-controller="GraphsController">
    <h1 style="background: #030520; margin-top: 0; margin-bottom: 0; height: 60px; padding: 10px;"><span style="color: green;">Version1</span> <span style="color: white;">Hot-Desk</span></h1>
    <table class="graph-table" style="margin-top: 5px; margin-left: 50px;">
        <tr>
            <td>
                <h3 style="margin-top: 0px;">Quarterly Office Traffic</h3>
                <canvas style="margin-left: 10px;" id="bar" class="chart chart-bar"chart-data="data" chart-labels="labels" chart-series="series"></canvas>
            </td>
            <td>
                <h3 style="margin-top: 0px;">Monthly Office Traffic</h3>
                <canvas style="margin-left: 10px;" id="line" class="chart chart-line" chart-data="graph_data" chart-labels="graph_labels" chart-series="graph_series" chart-options="graph_options" chart-dataset-override="graph_datasetOverride" chart-click="onClick"></canvas>
            </td>
        </tr>
        <tr >
            <td>
                <h3 style="margin-top: 0px;">Client Tickets</h3>
                <canvas style="margin-left: 10px;" id="base" class="chart-horizontal-bar" chart-data="hor_data" chart-labels="hor_labels" ></canvas>
            </td>
            <td>
                <h3 style="margin-top: 0px;">Weekly Ticket Count</h3>
                <canvas style="margin-left: 10px;" id="base" class="chart-bar" chart-data="linebar_data" chart-labels="linebar_labels" chart-colors="linebar_colors" chart-dataset-override="datasetOverride" ></canvas>
            </td>
        </tr>
    </table>
    
</div>



<% include ../../partials/footer %>